   %span{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: lighter;
    color: rgba(128, 128, 128, 0.712);
   }
   %para{
    width: 75%;
    font-size: 1.1rem;
    line-height: 1.7;
    letter-spacing: 0.1rem;
    font-weight: lighter;
    color: grey;
   }
   
   // --------------header

header{
    padding: 1rem 0;
    position: absolute;
    top: 0;
    width: 100%;
    h2{
        font-size: 2rem;
    }
    .bars , .cross{
        display: none;
    }
    input{
        width: 0;
    }
    ul{
        li{
            margin-left: 3.5rem;
            .home{
                color: goldenrod !important;
            }
            a{
                color: black;
                
            }
            
        }
    }
}
// -------------------------------

.grid_container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    // grid-gap: 1rem;
}
.item{
    // border: 1px solid green;
    // height: 60vh;
}
.item_1_3{
    grid-column: 1/3;
}
.item_3_5{
    grid-column: 3/5;
}
.item_fifteeen{
    grid-column: 1/-1;
}

// .item_one{
//     grid-column: 1/3;
// }
// .item_two{
//     grid-column: 3/5;
// }
// .item_three{
//     grid-column: 1/3;
// }
// .item_four{
//     grid-column: 3/5;
// }

// .item_nine{
//     grid-column: 1/3;
// }
// .item_ten{
//     grid-column: 3/5;
// }
// .item_eleven{
//     grid-column: 1/3;
// }
// .item_twelve{
//     grid-column: 3/5;
// }

// .item_forteen{
//     grid-column: 1/3;
// }
// .item_fifteen{
//     grid-column: 3/5;
// }

.item_one{
    background: url(../media/home-img.jpg) no-repeat;
    background-size: cover;
    height: 60vh;
}
.item_two{
    background: rgb(245,227,215);
    line-height: 1.3;
    height: 60vh;
    .article{
        margin-left: 2rem;
        span{
            @extend %span
        }
        h1{
            width: 68%;
            font-size: 2.6rem;
            margin: 1rem 0;
            strong{
                font-weight: bold;
            }
        }
        p{
            @extend %para;
        }
        .btn{
            border: 2px solid black;
            display: inline-block;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            border-radius: 2rem;
            margin-top: 2rem;
            a{
                color: black;
            }
        }   
    }
}

.item_three{
    padding: 4rem 0;
    background: white;
    line-height: 1.3;
    height: 35vh;
    .article{
        margin-left: 2rem;
        h2{
            font-size: 2rem;
        }
        span{
            margin: 2rem 0;
            display: block;
            color: brown;
           @extend %span;
        }
        p{
            @extend %para
        }
    }
}

.item_four{
    .article{
        background-color: $secondary_color;
        .left{
            width: 53.4%;
            height: 50vh;
            img{
                width: 100%;
                height: 50vh;
            }
        }
        .right{
            width: 50%;
            margin-left: 2rem;
            h2{
                color: white;
                font-size: 2.5rem;
            }p{
                margin: 1rem 0;
                color: rgba(255, 255, 255, 0.555);
            }

            .each_category{
                width: 70%;
                margin-top: 2rem;
                .white_line{
                    width: 70%;
                    margin-top: 0.5rem;
                    background-color: white;
                    height: 0.25rem ;
                    width: 100%;
                    .black_line{
                        width: 90%;
                        height: 0.25rem ;
                        background-color: black;
                    }
                    .black_line_second{
                        width: 70%;
                        background-color: black;
                    }    
                    
                    .black_line_third{
                        width: 80% !important;
                        
                     }
                }
                
            }
        }
    }
}
.media{
    text-align: center;
    padding: 4rem 2rem;
    line-height: 2;
    background-color: $secondary_color;
    color: white;
    a{
        font-size: 3rem;
        color: white;
    }
    h3{
        font-size: 1.6rem;
    }
    p{
        font-size: 1.1rem;
        color: white;
        line-height: 1.5;
    }
    
}
.two_media{
    background-color: $primary_color;
}
.three_media{
    background-color: black;
}
.four_media{
    background-color: white;
    color: black;
    a{
        color: black;
    }p{
        color: black;
    }
}

.item_nine{
    background: url(../media/experience-img.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
}
.exp_edu{
    background-color: $primary_color;
    color: white;
    height: 50vh;
    .article{
        margin-left: 3rem;
        h2{
            font-size: 2.5rem;
        }
        small{
            display: block;
            letter-spacing: 0.1rem;
            margin: 1rem 0;
        }
        .designer{
            margin: 2rem 0;
            a{
                font-size: 2rem;
                color: white;
            }
           .right{
               margin-left: 2rem;
            h3{
                font-size: 1.5rem;
                span{
                    font-size: .8rem;
                    color: black;
                    font-weight: bold;
                }
            }
           }
        }
    }
}

.item_eleven{
    background-color: $secondary_color;
    .article{
        margin-left: 2rem;
       .designer{
        .right{
            h3{
                span{
                    color: primary_color;
                }
            }
        }
       }
    }
}


.item_twelve{
    background: url(../media/education-img.jpg) no-repeat;
    height: 50vh;
    background-size: cover;
}

.item_thirteen{
    background-color: $primary_color;
    height: 50vh;
    .article{
        margin-left: 2rem;
        color: white;
        h2{
            font-size: 2.5rem;
        }
        span{
            display: block;
            font-size: 0.8rem;
            letter-spacing: 0.1rem;
            margin: 1rem 0;
        }
        form{
            fieldset{
                input{
                    width: 100%;
                    height: 2rem;
                    border: none;
                    border-bottom: 1px solid gold;
                    margin-top: 2rem;
                    background: none;
                    color: white;
                    &:focus{
                        outline: none;
                    }
                }
                input::placeholder{
                    color: white;
                }
                textarea{
                    margin-top: 2rem;
                    width: 100%;
                    height: 5rem;
                    border: none;
                    border-bottom: 1px solid gold;
                    background: none;
                    &:focus{
                        outline: none;
                    }
                }
                textarea::placeholder{
                    color: white;
                }
                input[type="submit"]{
                    width: 8rem;
                    border-radius: 2rem;
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}


.item_forteen{
    .article{
        color: white;
        .left{
            width: 50%;
            background: url(../media/contact-img.jpg) no-repeat;
            background-size: cover;
            height: 50vh;
        }
        .right{
            width: 50%;
            background-color: black;
            height: 50vh;
            line-height: 1.5;
            article{
                margin-left: 3rem;
                h3{
                    font-size: 2rem;
                }
                span{
                    display: block;
                    font-size: 0.8rem;
                    letter-spacing: 0.1rem;
                    margin: 1rem 0;
                }
                .nav{
                    margin: 2rem 0;
                    li{
                        margin: 1rem 0;
                        i{
                            margin-right: 1rem;
                        }
                        a{
                            color: gold;
                        }
                    }
                }
            }
            

        }
    }
}

.item_fifteeen{
    background-color: $primary_color;
    padding: 3rem 0;
    address{
        width: 100%;
        iframe{
            // width: 80%;
            width: 100%;
            display: block;
            margin: auto;
            height: 25rem;
        }
    }
}


@media screen and (max-width : 768px) {
    html{
        font-size: 14px;
    }
    .container{
        width: 90%;
    }
    
    header{
        .nav{
            input{
                width: 0;
            }
            .bars, .cross{
                display: block;
                font-size: 1.5rem;
            }
            ul{
                display: none;
                .cross{
                    position: absolute;
                    right: 3rem;
                    top: 1.6rem;
                    font-size: 2rem;
                }
            }
            #toggle:checked ~ ul{
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background-color: rgba(255, 255, 255, 0.884);
                animation: openToggle 0.5s linear;
            }
            @keyframes openToggle {
                from{
                    opacity: 0;
                }to{
                    opacity: 100%;
                }
            }
            ul{
                li{
                    position: relative;
                    top: 35%;
                    left: 35%;
                    margin-top: 2rem;
                    a{
                        font-size: 1.5rem;
                    }
                }
           
            }
        }
    }
    .item_one{
        height: 50vh;
    }
    .item_1_3, .item_3_5{
        grid-column: 1/-1;
    }
    .media{
        grid-column: 1/-1;
    }
    .column{
        flex-direction: column;
    }
    .full_width{
        width: 100%;
    }
    .item_four{
        .article{
            width: 100%;
            .left{
                width: 100%;
            }
            .right{
                width: 90%;
                margin-top: 4rem;
                text-align: center;
                .each_category{
                    margin: 2rem auto;
                

                }

            }
        }
    }

    .item_forteen{
        .article{
            .left{
                width: 100%;
            }
            .right{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width : 420px) {
    html{
        width: 100%;
        font-size: 10px;
    }
    header{
        .nav{
            .ul{
                li{
                    left: 30%;
                    top: 30%;
                }
            }
        }
    }


    .container{
        width: 90%;
    }
    .item_1_3, .item_3_5{
        grid-column: 1/-1;
    }
    .media{
        grid-column: 1/-1;
    }
    
    
}




