/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: 'PT Sans', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
}

.item_two .article span, .item_three .article span {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: lighter;
  color: rgba(128, 128, 128, 0.712);
}

.item_two .article p, .item_three .article p {
  width: 75%;
  font-size: 1.1rem;
  line-height: 1.7;
  letter-spacing: 0.1rem;
  font-weight: lighter;
  color: grey;
}

header {
  padding: 1rem 0;
  position: absolute;
  top: 0;
  width: 100%;
}

header h2 {
  font-size: 2rem;
}

header .bars, header .cross {
  display: none;
}

header input {
  width: 0;
}

header ul li {
  margin-left: 3.5rem;
}

header ul li .home {
  color: goldenrod !important;
}

header ul li a {
  color: black;
}

.grid_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.item_1_3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.item_3_5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.item_fifteeen {
  grid-column: 1/-1;
}

.item_one {
  background: url(../media/home-img.jpg) no-repeat;
  background-size: cover;
  height: 60vh;
}

.item_two {
  background: #f5e3d7;
  line-height: 1.3;
  height: 60vh;
}

.item_two .article {
  margin-left: 2rem;
}

.item_two .article h1 {
  width: 68%;
  font-size: 2.6rem;
  margin: 1rem 0;
}

.item_two .article h1 strong {
  font-weight: bold;
}

.item_two .article .btn {
  border: 2px solid black;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 2rem;
  margin-top: 2rem;
}

.item_two .article .btn a {
  color: black;
}

.item_three {
  padding: 4rem 0;
  background: white;
  line-height: 1.3;
  height: 35vh;
}

.item_three .article {
  margin-left: 2rem;
}

.item_three .article h2 {
  font-size: 2rem;
}

.item_three .article span {
  margin: 2rem 0;
  display: block;
  color: brown;
}

.item_four .article {
  background-color: #ecaf4e;
}

.item_four .article .left {
  width: 53.4%;
  height: 50vh;
}

.item_four .article .left img {
  width: 100%;
  height: 50vh;
}

.item_four .article .right {
  width: 50%;
  margin-left: 2rem;
}

.item_four .article .right h2 {
  color: white;
  font-size: 2.5rem;
}

.item_four .article .right p {
  margin: 1rem 0;
  color: rgba(255, 255, 255, 0.555);
}

.item_four .article .right .each_category {
  width: 70%;
  margin-top: 2rem;
}

.item_four .article .right .each_category .white_line {
  width: 70%;
  margin-top: 0.5rem;
  background-color: white;
  height: 0.25rem;
  width: 100%;
}

.item_four .article .right .each_category .white_line .black_line {
  width: 90%;
  height: 0.25rem;
  background-color: black;
}

.item_four .article .right .each_category .white_line .black_line_second {
  width: 70%;
  background-color: black;
}

.item_four .article .right .each_category .white_line .black_line_third {
  width: 80% !important;
}

.media {
  text-align: center;
  padding: 4rem 2rem;
  line-height: 2;
  background-color: #ecaf4e;
  color: white;
}

.media a {
  font-size: 3rem;
  color: white;
}

.media h3 {
  font-size: 1.6rem;
}

.media p {
  font-size: 1.1rem;
  color: white;
  line-height: 1.5;
}

.two_media {
  background-color: #fc683e;
}

.three_media {
  background-color: black;
}

.four_media {
  background-color: white;
  color: black;
}

.four_media a {
  color: black;
}

.four_media p {
  color: black;
}

.item_nine {
  background: url(../media/experience-img.jpg) no-repeat;
  background-size: cover;
  height: 50vh;
}

.exp_edu {
  background-color: #fc683e;
  color: white;
  height: 50vh;
}

.exp_edu .article {
  margin-left: 3rem;
}

.exp_edu .article h2 {
  font-size: 2.5rem;
}

.exp_edu .article small {
  display: block;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

.exp_edu .article .designer {
  margin: 2rem 0;
}

.exp_edu .article .designer a {
  font-size: 2rem;
  color: white;
}

.exp_edu .article .designer .right {
  margin-left: 2rem;
}

.exp_edu .article .designer .right h3 {
  font-size: 1.5rem;
}

.exp_edu .article .designer .right h3 span {
  font-size: .8rem;
  color: black;
  font-weight: bold;
}

.item_eleven {
  background-color: #ecaf4e;
}

.item_eleven .article {
  margin-left: 2rem;
}

.item_eleven .article .designer .right h3 span {
  color: primary_color;
}

.item_twelve {
  background: url(../media/education-img.jpg) no-repeat;
  height: 50vh;
  background-size: cover;
}

.item_thirteen {
  background-color: #fc683e;
  height: 50vh;
}

.item_thirteen .article {
  margin-left: 2rem;
  color: white;
}

.item_thirteen .article h2 {
  font-size: 2.5rem;
}

.item_thirteen .article span {
  display: block;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

.item_thirteen .article form fieldset input {
  width: 100%;
  height: 2rem;
  border: none;
  border-bottom: 1px solid gold;
  margin-top: 2rem;
  background: none;
  color: white;
}

.item_thirteen .article form fieldset input:focus {
  outline: none;
}

.item_thirteen .article form fieldset input::-webkit-input-placeholder {
  color: white;
}

.item_thirteen .article form fieldset input:-ms-input-placeholder {
  color: white;
}

.item_thirteen .article form fieldset input::-ms-input-placeholder {
  color: white;
}

.item_thirteen .article form fieldset input::placeholder {
  color: white;
}

.item_thirteen .article form fieldset textarea {
  margin-top: 2rem;
  width: 100%;
  height: 5rem;
  border: none;
  border-bottom: 1px solid gold;
  background: none;
}

.item_thirteen .article form fieldset textarea:focus {
  outline: none;
}

.item_thirteen .article form fieldset textarea::-webkit-input-placeholder {
  color: white;
}

.item_thirteen .article form fieldset textarea:-ms-input-placeholder {
  color: white;
}

.item_thirteen .article form fieldset textarea::-ms-input-placeholder {
  color: white;
}

.item_thirteen .article form fieldset textarea::placeholder {
  color: white;
}

.item_thirteen .article form fieldset input[type="submit"] {
  width: 8rem;
  border-radius: 2rem;
  background-color: white;
  color: black;
}

.item_forteen .article {
  color: white;
}

.item_forteen .article .left {
  width: 50%;
  background: url(../media/contact-img.jpg) no-repeat;
  background-size: cover;
  height: 50vh;
}

.item_forteen .article .right {
  width: 50%;
  background-color: black;
  height: 50vh;
  line-height: 1.5;
}

.item_forteen .article .right article {
  margin-left: 3rem;
}

.item_forteen .article .right article h3 {
  font-size: 2rem;
}

.item_forteen .article .right article span {
  display: block;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

.item_forteen .article .right article .nav {
  margin: 2rem 0;
}

.item_forteen .article .right article .nav li {
  margin: 1rem 0;
}

.item_forteen .article .right article .nav li i {
  margin-right: 1rem;
}

.item_forteen .article .right article .nav li a {
  color: gold;
}

.item_fifteeen {
  background-color: #fc683e;
  padding: 3rem 0;
}

.item_fifteeen address {
  width: 100%;
}

.item_fifteeen address iframe {
  width: 100%;
  display: block;
  margin: auto;
  height: 25rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 90%;
  }
  header .nav input {
    width: 0;
  }
  header .nav .bars, header .nav .cross {
    display: block;
    font-size: 1.5rem;
  }
  header .nav ul {
    display: none;
  }
  header .nav ul .cross {
    position: absolute;
    right: 3rem;
    top: 1.6rem;
    font-size: 2rem;
  }
  header .nav #toggle:checked ~ ul {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.884);
    -webkit-animation: openToggle 0.5s linear;
            animation: openToggle 0.5s linear;
  }
  @-webkit-keyframes openToggle {
    from {
      opacity: 0;
    }
    to {
      opacity: 100%;
    }
  }
  @keyframes openToggle {
    from {
      opacity: 0;
    }
    to {
      opacity: 100%;
    }
  }
  header .nav ul li {
    position: relative;
    top: 35%;
    left: 35%;
    margin-top: 2rem;
  }
  header .nav ul li a {
    font-size: 1.5rem;
  }
  .item_one {
    height: 50vh;
  }
  .item_1_3, .item_3_5 {
    grid-column: 1/-1;
  }
  .media {
    grid-column: 1/-1;
  }
  .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .full_width {
    width: 100%;
  }
  .item_four .article {
    width: 100%;
  }
  .item_four .article .left {
    width: 100%;
  }
  .item_four .article .right {
    width: 90%;
    margin-top: 4rem;
    text-align: center;
  }
  .item_four .article .right .each_category {
    margin: 2rem auto;
  }
  .item_forteen .article .left {
    width: 100%;
  }
  .item_forteen .article .right {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  html {
    width: 100%;
    font-size: 10px;
  }
  header .nav .ul li {
    left: 30%;
    top: 30%;
  }
  .container {
    width: 90%;
  }
  .item_1_3, .item_3_5 {
    grid-column: 1/-1;
  }
  .media {
    grid-column: 1/-1;
  }
}
/*# sourceMappingURL=style.css.map */